@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;500;700;900&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 50px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.card-wrapper .card {
  width: calc((100% - 40px) / 3);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.card-wrapper .card .thumb {
  width: 100%;
  aspect-ratio: 2;
}

.card-wrapper .card .thumb img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-wrapper .card .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  flex-grow: 1;
}

.card-wrapper .card .card-body .title {
  text-transform: capitalize;
}

.card-wrapper .card .card-body .category {
  color: orangered;
}

.card-wrapper .card .card-body .tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-wrapper .card .card-body .tag-wrapper .tag {
  color: white;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
}

.paginate-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.paginate-wrapper .page-btn {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.paginate-wrapper .page-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.paginate-wrapper .page-btn.active {
  background-color: orange;
}

